*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bckgrnd{
    display: grid;
    grid-template-columns: 100%;
    background: linear-gradient(17deg,rgba(91, 63, 251, 1) 0%, rgba(252, 70, 94, 1) 100%);
    width: 100vw;
    height: 100vh;
}


.calc-body{
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #1A0528;
    color:white;
    width: 25%;
    height: 90%;
    margin: auto;
    border: 1px white solid;
    border-radius: 1rem;
}

.math{
    grid-column: span 4;
    align-self: end;
    
    width: 100%;
}
.operationHis{
    font-size: 1.5rem;
    color:grey;
    justify-self: end;
}
#inpt{
    background-color: #1A0528;
    color: white;
    text-align: end;
    font-size: 2rem;
    width: 100%;
    border: 1px solid #ffffffa1;
    border-left: 0;
    border-right: 0;
    grid-column: span 4;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.btn{
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.4rem;
}
